@using MudBlazor
@inherits LayoutComponentBase

@* Required Mudblazor Tags *@
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
                <div class="app-wrapper">
                    <SidebarComponent IsActive="@isSidebarActive" />
                    <div @onclick="ToggleSidebar" class="overlay @(isSidebarActive ? "active" : "")"></div>
                    <main class="main-container">
                        <div class="main-header-div">
                            <i @onclick="ToggleSidebar" class="fa-solid fa-bars menu-toggle" id="menu-toggle"></i>

                            <div class="div"><h1>Dashboard</h1></div>
                        
                        </div>
                        <div class="main-body-div">
                            @Body
                        </div>
                        <div class="main-footer-div">
                            <h1>Inventory</h1>
                        </div>
                    </main>
                </div>
            </Authorized>
            <NotAuthorized>@Body</NotAuthorized>
        </AuthorizeView>
    </ChildContent>

    <ErrorContent Context="exception">
        <p>Error Occurred!!! -  From Main</p>
        <p>@exception.GetType()</p>
        <p>@exception.Message</p>
        <p>@exception.StackTrace</p>
        <button onclick ="() => errorBoundary?.Recover()">Try Again</button>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    private bool isSidebarActive = false;

    private void ToggleSidebar()
    {
        isSidebarActive = !isSidebarActive;
    }


}