@using BlazorDashboard.Components.Shared
@using MudBlazor
@inherits LayoutComponentBase

@* Required Mudblazor Tags *@
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <AuthorizeView>
            <Authorized>               
                <SidebarComponent IsActive="@isSidebarActive" />
                <div class="app">
                    <header class="app-header">
                        <i @onclick="ToggleSidebar" class="fa-solid fa-bars menu-toggle" id="menu-toggle"></i>
                        <div class="div"><h1>Dashboard</h1></div>
                    </header>
                    <main class="app-body">
                        @Body
                    </main>
                    <footer class="app-footer">
                        <span>© @DateTime.Now.Year WEBPORT. All rights reserved.</span>
                    </footer>
                    <div @onclick="ToggleSidebar" class="overlay @(isSidebarActive ? "active" : "")"></div>
                </div>       
            </Authorized>
            <NotAuthorized>@Body</NotAuthorized>
        </AuthorizeView>
    </ChildContent>

    <ErrorContent Context="exception">
        <p>Error Occurred!!! -  From Main</p>
        <p>@exception.GetType()</p>
        <p>@exception.Message</p>
        <p>@exception.StackTrace</p>
        <button onclick ="() => errorBoundary?.Recover()">Try Again</button>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    private bool isSidebarActive = false;

    private void ToggleSidebar()
    {
        isSidebarActive = !isSidebarActive;
    }


}